@import "tailwindcss";
@import "../../../packages/ui/src/lib/theme/theme.css";
@import "../../../packages/ui/src/lib/theme/fonts.css";

@source "../src";
@source "../../../packages/ui/src";
@source "../../../packages/router/src";
@source "../../../packages/pages/src";

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}